*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
.container{
    min-height: 847px;
}
.navbar{
    height: 80px;
    padding-top: 10px;
    text-align: center;
    background-color: pink;
}
.units-subs,
.subjects
{
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(1, auto);
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
label{
    padding: 10px;
}
/*Textboxes*/
input[type="button"]{
    height: 40px;
    width: 232px;
    background-color: #f9e5ef;
    color: #000000;
    border: none;
    font-size: 16px;
}
input[type="text"]{
    height: 30px;
    width: 250px;
}

/*Footer*/
footer{
    height: 80px;
    text-align: center;
    background-color: #000000;
    color: #f9e5ef;
}


